@page "/todo"

<h1>To Do List</h1>

<div class="form-group">
  <input id="to-do-input" class="form-control" type="text" @bind="newToDo" />
</div>
<button class="btn btn-primary" @onclick="AddTodo">Add To Do</button>

<ul class="list-group">
  @foreach (var toDo in toDos) {
    <li class="list-group-item">@toDo</li>
  }
</ul>

@code {
  private List<string> toDos = new List<string>();

  private string newToDo;

  private void AddTodo() {
    if (!string.IsNullOrWhiteSpace(newToDo)) {
      toDos.Add(newToDo);
      newToDo = String.Empty;
    }
  }
}